<footer class="custom-footer border" >
    <div class="container text-center">
        <a href="https://www.casatoro.com/">
            <img src="~/images/logo_ct.webp" alt="Logo" height="50">
        </a>
        <p class="mb-0">&copy; @DateTime.Now.Year Casa Toro - Todos los derechos reservados.</p>
    </div>
</footer>
